@font-face {
    font-family: "Inter Variable";
    src: url("/fonts/Inter-Variable.woff2") format("woff2-variations");
    font-weight: 100 900;
    font-stretch: 50% 150%;
    font-display: swap;
}


*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
}

button {
    cursor: pointer;
}

/* ==================== VARIABLES ==================== */

:root {
    --c-white: #fff;
    --c-black: #1a1a1a;

    --c-grey-50: #fafafa;
    --c-grey-100: #f5f5f5;
    --c-grey-200: #eeeeee;
    --c-grey-300: #e0e0e0;
    --c-grey-400: #bdbdbd;
    --c-grey-500: #9e9e9e;
    --c-grey-600: #757575;
    --c-grey-700: #616161;
    --c-grey-800: #424242;
    --c-grey-900: #212121;

    --c-primary-light: #e6f0f1;
    --c-primary-dark: #4a686a;
    --c-secondary-light: #feeaa5;
    --c-secondary-dark: #fdb137;

    --c-red: #db242d;

    --c-opacity: 0.85;

    --c-background: var(--c-grey-50);
    --c-foreground: var(--c-white);
    --c-bg-sidebar: var(--c-primary-light);
    --c-bg-nav-link-hover: var(--c-grey-100);

    --c-text-normal: var(--c-black);
    --c-text-muted: var(--c-grey-600);
    --c-text-faint: var(--c-grey-400);
    --c-text-hover: var(--c-white);
   
    --c-btn-bg-primary: var(--c-primary-dark);
    --c-btn-text-primary: var(--c-white);
    --c-btn-bg-secondary: var(--c-grey-50);
    --c-btn-border-secondary: var(--c-grey-300);
    --c-btn-border-secondary-hover: var(--c-grey-200);
    --c-btn-bg-badge: var(--c-red);
    --c-btn-text-badge: var(--c-white);
    --c-btn-text-user: var(--c-grey-600);

    --c-input-border: var(--c-grey-300);
    --c-input-border-hover: var(--c-grey-200);
    --c-input-border-focus: var(--c-yellow);
    --c-input-text-focus: var(--c-grey-600);
    --c-input-text-placeholder: var(--c-grey-500);

    --c-icon-muted: var(--c-grey-200);
    --c-icon-hover: var(--c-grey-400);

    --shadow-input: inset 0px 3px 3px -1px #0000000a;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 12px;
    --spacing-lg: 16px;
    --spacing-xl: 24px;
    --spacing-2xl: 32px;

    --p-page-grid: var(--spacing-md);
    --p-content-grid: var(--spacing-md);
    --p-card: var(--spacing-md);

    --g-between-cards: var(--spacing-md);

    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-xl: 16px;

    --r-nav-link-border: var(--radius-sm);
    --r-input-border: var(--radius-md);
    --r-btn-border-md: var(--radius-md);
    --r-card-border: var(--radius-md);
}

/* ==================== BASE ==================== */

body {
    height: 100vh;
    font-family: "Inter Variable";
    line-height: 1.4;
}

.container {
    height: 100%;
    display: grid;
    grid-template: auto 1fr / 0.7fr 3fr 1fr;
    grid-template-areas:
    "nav header header"
    "nav main aside";
}

/* ==================== HEADER ==================== */

header {
    grid-area: header;
    background-color: var(--c-foreground);
}

.header-wrap-top {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: var(--p-page-grid);
}

.header-search-bar {
    display: grid;
    align-items: center;
    max-width: 600px;
    margin-right: 8px;
}

.header-search-bar input {
    padding: 8px 12px 8px 12px;
    border: 1px solid var(--c-input-border);
    border-radius: var(--r-input-border);
    color: var(--c-input-text-focus);
}

.header-search-bar input::placeholder {
    color: var(--c-input-text-placeholder);
}

.header-wrap-top-btns {
    display: flex;
    gap: 8px;
}

.header-top-btn,
.header-bottom-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    padding: 4px;
    border: 1px solid var(--c-btn-border-secondary);
    border-radius: var(--r-btn-border-md);
    background-color: var(--c-btn-bg-secondary);
}

.header-bottom-btn {
    padding-right: 10px;
}

.notifications span {
    position: absolute;
    margin-top: -20px;
    margin-right: -20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 16px;
    width: 16px;
    border-radius: 10px;;
    background-color: var(--c-btn-bg-badge);
    color: var(--c-btn-text-badge);
    font-size: 11px;
    font-weight: 400;
}

.header-top-icon,
.header-bottom-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.header-top-btn.hero p {
    padding-right: 8px;
    font-weight: 600;
    color: var(--c-btn-text-user);
}

.hero .initials {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 24px;
    width: 28px;
    margin-left: 3px;
    background-color: var(--c-primary-dark);
    border-radius: 12px;
    font-size: 12px;
    font-weight: 600;
    color: var(--c-grey-50);
}

.header-wrap-bottom {
    display: grid;
    grid-template-columns: 1fr auto;
    padding: 10px;
}

.header-wrap-bottom-btns {
    display: flex;
    gap: 8px;
}

/* ==================== SIDEBAR ==================== */

.sidebar-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 52px;
    padding: 10px 10px 10px 16px;
    background-color: var(--c-bg-sidebar);
}

.logo span {
    font-family: "Urbanist";
    font-size: 28px;
    font-weight: 500;
    line-height: 1;
}

.nav-menu {
    display: grid;
    gap: 24px;
}

.nav-links {
    display: grid;
    gap: 4px;
}

.nav-links a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 8px;
    border-radius: var(--r-nav-link-border);
}

.nav-links a:hover,
.nav-links a.active {
    background-color: var(--c-bg-nav-link-hover);
}

.nav-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* ==================== MAIN ==================== */

main {
    grid-area: main;
    background-color: var(--c-background);
    padding: var(--p-content-grid);
}

main .section-title {
    grid-column: 1 / -1;
    margin-bottom: 8px;
}

/* ==================== stats ==================== */

.main-section-stats {
    display: grid;
    grid-template-columns: repeat(4, minmax(166px, 1fr));
    grid-template-rows: 1fr;
    gap: var(--g-between-cards);
}

.stat-card {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 18px;
    padding: 10px 10px 10px 22px;
    border-radius: var(--r-card-border);
    background-color: var(--c-foreground);
}

.stat-icon {
    width: 48px;
    height: 48px;
    stroke: var(--c-grey-50);
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    background-color: var(--c-grey-300);
    padding: 10px;
    border-radius: 24px;
}

.stat-text {
    display: grid;
    gap: 4px;
}

.stat-text p {
    font-size: 0.875rem;
}


.stat-card a::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
}


/* ==================== projects ==================== */

.main-section-projects {
    display: grid;
    grid-template: auto / repeat(auto-fit, minmax(300px, 1fr))
}

.project-card {
    display: grid;
}

.project-card-header {
    display: grid;
    grid-template-columns: 1fr auto;
}

.project-option-icon {
    width: 24px;
    height: 24px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.project-card-footer {
    display: grid;
    grid-template-columns: 1fr auto;
}

.project-stat-icon {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

.project-button-icon {
    width: 16px;
    height: 16px;
    stroke: currentColor;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
}

/* ==================== ASIDE ==================== */

aside {
    grid-area: aside;
    background-color: darkseagreen;
}

/* ==================== announcements ==================== */

.activity-list li {
    display: grid;
    grid-template: auto auto / 1fr auto;
}

/* ==================== messages ==================== */

.messages-list li {
    display: grid;
    grid-template: auto auto / 1fr auto;
}


@media screen and (max-width : 1000px) {
   .main-section-stats { 
    grid-template-columns: repeat(2, minmax(160px, 1fr));
   }

   h4 { color: blue}
}
